<table class="sponsors">
<body>
<tr>
    <td><a href="http://www.etsf.eu"><img  src="{{ '/assets/images/F1-M1-L.png' | prepend: site.baseurl }}" ></a></td> 
    <td><a href="http://www.psi-k.net/"><img  src="{{ '/assets/images/psi-k.png_trans.png' | prepend: site.baseurl }}" ></a></td>
    <td><a href="http://www.iciq.org"><img  src="{{ '/assets/images/iciq.tiff_trans.png' | prepend: site.baseurl }}" ></a></td>
    <td><a href="http://blogs.iec.cat/scq/"><img  src="{{ '/assets/images/logoSCQ.jpg_trans.png' | prepend: site.baseurl }}" ></a></td>
    <td><a href="http://www.hpcnow.com/"><img  src="{{ '/assets/images/hpcnow.png' | prepend: site.baseurl }}" ></a></td>
    <td><a href="https://www.scm.com/"><img  src="{{ '/assets/images/scm-logo.svg' | prepend: site.baseurl }}" ></a></td>
    <td><a href="http://www.icot.es/"><img  src="{{ '/assets/images/icot.jpg' | prepend: site.baseurl }}" ></a></td>
<tr>
</body>
</table>
