 <a href="http://www.etsf.eu"><img class="sponsor" src="{{ '/assets/images/F1-M1-L.png' | prepend: site.baseurl }}" ></a>
 <a href="http://www.psi-k.net/"><img class="sponsor" src="{{ '/assets/images/psi-k.png_trans.png' | prepend: site.baseurl }}" ></a>
  <a href="http://www.iciq.org"><img class="sponsor" src="{{ '/assets/images/iciq.jpg_trans.png' | prepend: site.baseurl }}" ></a>
  <a href="http://blogs.iec.cat/scq/"><img class="sponsor" src="{{ '/assets/images/sqc.jpeg_trans.png' | prepend: site.baseurl }}" ></a>
